.App {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f848b;
    max-width: 850px;
    margin: 0 auto;

    .logo {
        text-align: center;
    }

    .main {
        display: flex;
        justify-content: space-between;

        .transfers-filter {
            width: 300px;

            padding: 10px;
            border: 1px solid red;
            background-color: #fff;

            &__box {
                padding-top: 10px;

                label {
                    padding-left: 5px;
                }
            }
        }

        .header-tickets {
            display: flex;
            flex-direction: column;

            width: 500px;

            .header-filter {
                display: flex;
                justify-content: space-between;

                &__tab {
                    background-color: #0b89ff;
                    text-align: center;
                    padding: 20px;
                }
            }

            .tickets {
                display: flex;
                flex-direction: column;
            }
        }
    }
}