.App {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 99, 99);
    max-width: 850px;
    margin: 0 auto;

    .logo {
        text-align: center;
    }

    .main {
        display: flex;
        justify-content: space-between;

        .transfers-filter {
            width: 300px;

            padding: 10px;
            background-color: #fff;

            &__box {
                padding-top: 10px;

                label {
                    padding-left: 5px;
                    cursor: pointer;
                }
            }
        }

        .header-tickets {
            display: flex;
            flex-direction: column;

            width: 500px;

            .header-filter {
                display: flex;

                &__tab {
                    text-align: center;
                    padding: 20px;
                    width: 250px;
                    cursor: pointer;
                    background-color: #fff;
                }

                .tab-left {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                .tab-right {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                
                .active-tab {
                    color: #fff;
                    background-color: #0b89ff;
                }
            }
        }
    }
}